DATABASE_URL="postgresql://postgres:1234@localhost:5432/ApMulti?schema=public"
JWT_SECRET="super-secret-key-change-me"
NEXT_PUBLIC_API_URL="http://localhost:3001"
REDIS_URL="redis://localhost:6379"
AWS_S3_BUCKET="streamsocial-media"
AWS_ACCESS_KEY_ID="your-key"
AWS_SECRET_ACCESS_KEY="your-secret"
